<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--mapper.xml用来实现方法，写sql语句-->
<mapper namespace="com.example.mapper.RecordMapper">

    <select id="selectAll" resultType="com.example.entity.Record">
        SELECT * FROM record
        <where>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="supplierId != null">
                AND supplier_id = #{supplierId}
            </if>
            <if test="goodsName != null and goodsName != ''">
                AND goods_name LIKE CONCAT('%', #{goodsName}, '%')
            </if>
        </where>
        ORDER BY time DESC
    </select>

    <insert id="insert">
        insert into `record`
        (order_no,user_id,good_id,supplier_id,buy_quantity,unit_price,total_price,time)
        VALUES(#{orderNo},#{userId},#{goodId},#{supplierId},#{buyQuantity},#{unitPrice},#{totalPrice},#{time})
    </insert>

    <insert id="insertBatch">
        INSERT INTO `record`
        (order_no, user_id, good_id, supplier_id, buy_quantity, unit_price, total_price, time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.orderNo},
            #{item.userId},
            #{item.goodId},
            #{item.supplierId},
            #{item.buyQuantity},
            #{item.unitPrice,jdbcType=DECIMAL},
            #{item.totalPrice,jdbcType=DECIMAL},
            #{item.time}
            )
        </foreach>
    </insert>

    <update id="updateStatus">
        UPDATE `record` SET status = #{status} WHERE id = #{id}
    </update>

    <select id="selectByOrderId">
        SELECT * FROM `record` WHERE id = #{id}
    </select>
</mapper>